/* General */

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FFFFFE;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
}

ul, nav ul {
	list-style-type: none;
	padding-left: 0px;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

a:link {
	color: #A62424;
	text-decoration: none;
}

a:visited {
	color: #A62424;
	text-decoration: none;
}

a:hover {
	color: #4b2707;
}

/* Članek */

article li {
	list-style-type: circle;	
}

.separator {
	height: 4px;
	background-color: #F0F0F0;
	width: 300px;
	margin: 35px auto;
}

.entrycontent {
	margin-bottom: 30px;
}

article > header  {
	font-family: 'Roboto Slab', sans-serif;	
	text-align: center;
	text-transform: lowercase;
}

.articledate {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #9c9c9c;
}

.tagheading {
	text-transform: lowercase;
}

.singletag {
	text-align: center;	
	padding: 0 4px 0 0;
	display: inline-block;
}

.singletag.selected {
	color: #4b2707;
	background-color: #FFFFFE;
}

.singletag a:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Navigation */

#banner {
	background-color: #A62424;
	height: 120px;
	padding: 10px;
	margin: 0 90px 10px;
}

#menu a:link {
	color: #FFFFFE;
}

#menu a:visited {
	color: #FFFFFE;
}

#menu {
	position: relative;
	font-family: 'Roboto Slab', sans-serif;	
}

#anjarenkohome {
	font-size: 36px;
	position: absolute;
	bottom: -120px;
}

#navigation {
	position: absolute;
	bottom: -120px;
	right: 0px;
	color: #FFFFFE;
}

#navigation a:hover {
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

/* Related on index */

.indexolderdate {
	font-size: 12px;
	color: #9c9c9c;
}

/* Footer */

#sitefooter {
	margin-top: 15px;
	font-size: 10px;
	color: gray;
}

/* neighbours */

#neighbours {
	margin: 10px 0;
	position: relative;
}

#neighbourprev {
	display: inline;
	float: left;
	width: 48%;
}

#neighbournext {
	display: inline;
	float: right;
	width: 48%;
	text-align: right;
}
/* iPad (portrait and landscape) ----------- */
@media only screen and (min-width : 450px) and (max-width : 900px) {
	#banner {
		margin: 0 0 10px 0;
	}
}

/* iPhone (portrait and landscape) ----------- */
@media only screen and (max-width : 450px) {
	#banner {
		margin: 0 0 10px 0;
	}
	body {
		font-size: 12px;
	}
}



