{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<section id="content" class="body">
	<article>
		<header>
			<div class="articledate">{{ article.date.strftime("%d. %B %Y") }}</div>
			<h2><a class="title" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
		</header>
		<div class="entrycontent"> {{ article.content }} </div><!-- /.entry-content -->
		<footer class="post-info">
			<div class="tags">
			{% if article.tags %}
				<span class="singletag">
				<strong> / </strong>
			{% for tag in article.tags %}
				<a href="/tags/{{ tag }}">{{ tag }}</a><strong> / </strong>
			{% endfor %}
				</span>
			{% endif %}
			</div><!-- end tags -->
			<div class="separator"></div>
			<div id="neighbours">
				{% if article.prev_article %}
				<div id="neighbourprev"><span class="articledate">Starejši - </span><a href="{{ SITEURL }}/{{ article.prev_article.url}}">{{ article.prev_article.title }}</a>
				</div>
				{% endif %}
				{% if article.next_article %}
				<div id="neighbournext"><span class="articledate">Novejši - </span><a href="{{ SITEURL }}/{{ article.next_article.url}}">{{ article.next_article.title }}</a>
				</div>
				{% endif %}
			</div>
		</footer><!-- /.post-info -->
    </article>
</section>
<div style="clear: both;"></div>
{% endblock %}
