<!DOCTYPE html>
<html lang="sl">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="{{ SITEURL }}/theme/js/anjablog.js"></script>

		{% endblock head %}
</head>

<body id="index">
	<header id="banner">
	<div id="container">
	<nav id="menu">
		<div id="anjarenkohome"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></div>
		<div id="navigation"> <strong>/</strong> <a href="{{ SITEURL }}/pages/o-meni">O meni</a> <strong>/</strong> <a href="{{ SITEURL }}/archives">Arhiv</a> <strong>/</strong> </div>
	</nav><!-- /#menu -->
	</div><!--end container> -->
	</header><!-- /#banner -->
	<div id="container">
	{% block content %}
	{% endblock %}
	<footer id="sitefooter">
		This is <a href="http://www.getpelican.com">Pelican</a> blog with a custom theme.
	</footer><!-- /#contentinfo -->
	</div><!--end container> -->
</body>
</html>
