{% extends "base.html" %}
{% block content %}
<section id="content">

	{% for article in articles_page.object_list %}
	{% if loop.first %}
    <article>
		<header>
			<div class="articledate">{{ article.date.strftime("%d. %B %Y") }}</div>
			<h2><a class="title" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
		</header>
		<div class="entrycontent"> {{ article.content }} </div><!-- /.entry-content -->
		<footer class="post-info">
			<div class="tags">
			{% if article.tags %}
				<span class="singletag">
				<strong> / </strong>
			{% for tag in article.tags %}
				<a href="/tags/{{ tag }}">{{ tag }}</a><strong> / </strong>
			{% endfor %}
				</span>
			{% endif %}
			</div><!-- end tags -->
		</footer><!-- /.post-info -->
		<div class="separator"></div>
    </article>

	{% elif loop.index < 6 %}
	<ul>
		<li>
			<div class="indexolder"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a> <span class="indexolderdate">{{ article.date.strftime("%d. %B %Y") }}</span>
	        </div>
	    </li>
	</ul>
{% endif %}
{% endfor %}
</section><!-- /#content -->
{% endblock content %}