{% extends "base.html" %}
{% block description %}All posts which refer to tag {{ tag }}{% endblock %}
{% block title %}{{ tag }} — {{ SITENAME }}{% endblock %}
{% block content %}
<h1 class="tagheading">{{tag}}</h1>

<div class="tags">
{% for tag in tags %}
	{% if page_name|replace("tags/","") == tag[0] %}
	<span class="singletag selected">{{ tag[0] }}</span>
	{% else %}
	<span class="singletag"><a href="{{ SITEURL }}/tags/{{ tag[0] }}">{{ tag[0] }}</a></span>
	{% endif %}
{% endfor %}
</div><!-- end tags -->

{% for article_year in articles|groupby('date.year')|sort(reverse=True) %}
{% for article_month in article_year.list|groupby('date.month')|sort(reverse=True) %}
{% if article_month.grouper == 1 %}
<h3>Januar {{ article_year.grouper }}</h3>
{% elif article_month.grouper == 2 %}
<h3>Februar {{ article_year.grouper }}</h3>
{% elif article_month.grouper == 3 %}
<h3>Marec {{ article_year.grouper }}</h3>
{% elif article_month.grouper == 4 %}
<h3>April {{ article_year.grouper }}</h3>
{% elif article_month.grouper == 5 %}
<h3>Maj {{ article_year.grouper }}</h3>
{% elif article_month.grouper == 6 %}
<h3>Junij {{ article_year.grouper }}</h3>
{% elif article_month.grouper == 7 %}
<h3>Julij {{ article_year.grouper }}</h3>
{% elif article_month.grouper == 8 %}
<h3>Avgust {{ article_year.grouper }}</h3>
{% elif article_month.grouper == 9 %}
<h3>September {{ article_year.grouper }}</h3>
{% elif article_month.grouper == 10 %}
<h3>Oktober {{ article_year.grouper }}</h3>
{% elif article_month.grouper == 11 %}
<h3>November {{ article_year.grouper }}</h3>
{% elif article_month.grouper == 12 %}
<h3>December {{ article_year.grouper }}</h3>
{% endif %}
{% for article in article_month.list %}
	<div><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a> <span class="articledate">{{ article.date.strftime("%d %b %Y") }}</span></div>
{% endfor %}
{% endfor %}
{% endfor %}
{% endblock %}



